*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F2BB13;
}

.header-column {
  display: flex;

}

.brand-logo {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 135px;
}

.app-body {
  display: flex;
  align-items: center;
}

.app-landing {
  display: block;
  padding-bottom: 55px;
  object-fit: fill;
  overflow: hidden;
}

.app-landing-banner {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

 .landing-banner{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
} 

.place-order {
  display: flex;
  justify-content: space-between;
}
.app-body-reels {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.slick-slide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.order {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F2BB13;
}

.choice {
  display: none;
}

.order-wrapper{
  text-align: center;
}

.order-delivery{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.deliveryLocation {
  display: none;
}
.app-footer{
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width:480px) {
  .flex-xs-column {
    flex-direction: column;
  }
}
@media only screen and (max-width:720px)  {
  .order-wrapper {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
