.app-header {}

.app-header,
.container {}

.app-header,
.row {}

.header-column {
  display: flex;

}

.brand-logo {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 135px;
}

.app-body {
  display: flex;
  align-items: center;
}

.app-landing {
  display: block;
  padding-bottom: 55px;
  object-fit: fill;
}

.app-landing-banner {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

 .landing-banner{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
} 

.place-order {
  display: flex;
  justify-content: space-between;
}
.app-body-reels {
  display: flex;
  justify-content: space-between;
}
.slick-list {
  flex-direction: row;
}

@media only screen and (max-width:480px) {
  .flex-xs-column {
    flex-direction: column;
  }
}
@media only screen and (max-width:720px)  {
  .order-wrapper {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 15px;
    padding-right: 15px;
  }
  body, header, .
}
